<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static' , filename='doneadd.css')}}">
  <link rel="stylesheet" href="{{url_for('static' , filename='navbar.css')}}">
  <link rel="stylesheet" href="{{url_for('static' , filename='responsev.css')}}">
  <title>doneadd</title>
</head>
<body>
  <div class="doneadd">
    <div class="hghtfunctionsd">
      <div class="isaddtext">
        <h2><span class="sp1">IS</span> <span class="sp2">ADD</span></h2>
      </div>
      <div class="bulld">
        <img class="imgebullar" src="{{url_for('static' , filename='images/bullar.png')}}">
        <img class="imgebullav" src="{{url_for('static' , filename='images/bullav.png')}}"> 
      </div>
    </div>
  </div>

<script src="{{url_for('static' , filename='doneadd.js')}}"></script>
</body>
</html> 